// Always shows a header, even in smaller screens.
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header.mdl-layout__header-waterfall
    .mdl-layout__header-row
      // Title
      span.mdl-layout-title World Mission Dept.
      // Add spacer
      .mdl-layout-spacer
      // Navigation on header. Hide in small screens.
      nav.mdl-navigation.mdl-layout--large-screen-only
        a.mdl-navigation__link(href='') Link1
  // Drawer
  .mdl-layout__drawer
    span.mdl-layout-title WMDept.
    nav.mdl-navigation
      a.mdl-navigation__link(href='') Link1